<!DOCTYPE HTML>
<html>
	<head>
		<title>openbeats</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="#">openbeats<span> by Emerald Studios</span></a></h1>
				<a href="#menu"></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="about.html">Elements</a></li>
				</ul>
			</nav>

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
							<h1>This is openbeats</h1>

                            <p>openbeats is a software application that allows for the synchronous collaboration of musical projects, regardless of geographic location.<br />
                            This allows for artists who use openbeats to have the live and collaborative atmosphere of a studio, without leaving the comfort and safety of their home.</p>
						</header>
						<a href="#main" class="button big alt scrolly">Learn More</a>
					</div>

				</section>

		<!-- Main -->
			<div id="main">

			<!-- One -->
				<section class="wrapper style1">
					<div class="inner">
						<header class="align-center">
							<h2>Collaborate on music remotely, without interrupting your workflow.</h2>
                            <p>At openbeats, we believe the days of collaborating on music through email are out of tune. With openbeats, you can choose who is allowed to collaborate on your musical project and update it without ever leaving your project window.</p>
						</header>
						<!-- 2 Column Video Section -->
							<div class="flex flex-2">
								<div class="video col">
									<div class="image fit">
										<img src="../static/images/turntable.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
									    Mix and create music with mulitple people at once.
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="../static/images/mixing-producer-in-studio.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
									    Everything you need for a studio, all available remotely.
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div>
				</section>

			<!-- Two -->
				<section class="wrapper ">
					<div class="inner">
						<header class="align-center">
							<h2>It sounds better from you, the customer.</h2>
						</header>

						<!-- 3 Column Video Section -->
							<div class="flex flex-3">
								<div class="video col">
									<div class="image fit">
										<img src="../static/images/bald-man-singing.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
									    DJ V3RdGO, DJ for the Buffalo Bills and the Buffalo Sabres.
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="../static/images/customer-review-2.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										customer review 2
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="../static/images/customer-review-3.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										customer review 3
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div>
				</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

                    <header class="align-center">
                        <h3>Developed By:</h3>
                    </header>
					<div class="flex flex-5">

						<div class="col">
							<h3>Ryan Dils</h3>
							<ul class="alt">
								<li><a href="#">LinkedIn</a></li>
								<li><a href="#">GitHub</a></li>
                                <li><a href="#">email</a></li>
							</ul>
						</div>

						<div class="col">
							<h3>James Franz</h3>
							<ul class="alt">
                                <li><a href="#">LinkedIn.</a></li>
                                <li><a href="#">GitHub</a></li>
                                <li><a href="#">email</a></li>
							</ul>
						</div>

						<div class="col">
							<h4>Nicholas Smith</h4>
							<ul class="alt">
                                <li><a href="#">LinkedIn.</a></li>
                                <li><a href="#">GitHub</a></li>
                                <li><a href="#">email</a></li>
							</ul>
						</div>

                        <div class="col">
							<h4>Joseph McCart</h4>
							<ul class="alt">
                                <li><a href="#">LinkedIn.</a></li>
                                <li><a href="#">GitHub</a></li>
                                <li><a href="#">email</a></li>
							</ul>
						</div>

                        <div class="col">
							<h4>Jin Kyu Hwang</h4>
							<ul class="alt">
                                <li><a href="#">LinkedIn.</a></li>
                                <li><a href="#">GitHub</a></li>
                                <li><a href="#">email</a></li>
							</ul>
						</div>

					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="https://www.instagram.com/openbeats_llc" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.instagram.com/openbeats_llc" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					&copy; openbeats. Images: <a href="https://unsplash.com">Coverr</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>