<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Openbeats</title>
    <div class="headerLinks">
    <a href="home.html">Home</a>
    <a href="editor.html">Editor</a>
    <a href="shared.html">Shared</a>
    <a href="Sharing.html">Sharing</a>
    <a class="active" href="download.html">Download</a>
    <a href="project.html">Project</a>
    </div>
</head>

<head>

<title>Song Downloads</title>

<link rel=”stylesheet” href=”style.css”>

</head>
<body style="background-color:black">

<h1><p style="color:white;">Select Song to Download


</p></h1>
<label for="Your songs" style="color:white;"> Choose one of your songs to download:</label>
<select name="Your songs" id="Your songs">
	<option value="first song">Edited Moonlight Sonata</option>
	<option value="second song">Original Boppin' Hit</option>
	<option value="third song">Fur Elise</option>
</select>


<button type="button" name = "mp3">
	MP3 Download
</button>
<button type="button" name = "wav">
	WAV Download
</button>

<style>

body {
  margin: 0;
  font-family: Arial;
}
.headerLinks {
  overflow: hidden;
  background-color: #220C10;
}
.headerLinks a {
  float: left;
  color: #AAA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.headerLinks a:hover {
  background-color: #5b6579;
  color: white;
}
.headerLinks a.active {
  background-color: #c4a77d;
  color: white;
}
 
</style>


</body>
<body style="background:radial-gradient(circle, #b0d0d3,#9bbec7);">

</html>
