{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Openbeats</title>
<!-- for header buttons -->
    <div class="headerLinks">
    <a href="/home">Home</a>
    <a class="active" href="/editor">Editor</a>
    <a href="/shared">Shared</a>
    <a href="/sharing">Sharing</a>
    <a href="/download">Download</a>
    <a href="/project">Project</a>
        <div class="headerAccountLinks">
            {% if user.is_authenticated %}
                <a href="/logout">Logout</a>
                <a href="/profile">Profile</a>
            {% else %}
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            {% endif %}
        </div>
    </div>
</head>

<head>

<title>Editor</title>

<link rel=”stylesheet” href=”style.css”>

</head>
<body style="background-color:black">

<h1><p style="color:white;">Editor


</p></h1>
<label for="YourSongs" style="color:white;"> Choose one of your songs to Edit:</label>
<select name="YourSongs" id="YourSongs">
  <option value="moonlight">Edited Moonlight Sonata</option>
  <option value="second song">Original Boppin' Hit</option>
  <option value="furelise">Fur Elise</option>
    {% for project in projectList %}
        <option value="{{ project.songFile }}">{{ project.title }}</option>
    {% endfor %}
</select>


<button type="button" onclick="openEditor()" name = "editorOpener">
  OPEN Editor
</button>

</body>
<!-- for header buttons -->
<style>
body {
  margin: 0;
  font-family: Arial;
}
.headerLinks {
  overflow: hidden;
  background-color: #220C10;
}
.headerLinks a {
  float: left;
  color: #AAA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.headerLinks a:hover {
  background-color: #5b6579;
  color: white;
}
.headerLinks a.active {
  background-color: #454372;
  color: white;
}

.form-container {
  max-width: 1000px;
  padding: 10px;
  background-color: black;
  color:white;
}
.form-popup {
  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 900px;
  height: 600px;
}

.audio-hidden {
  display: none;
}
.audio-displayed{
  display: block;
}
.buttonStyle {
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.buttonStyle1 {

  position: fixed;
  left:400px ; top: 650px ;
}
.buttonStyle1:hover {
  background-color: blue;
  color: white;
}

.headerAccountLinks a {
  float: right;
  color: #AAA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}


</style>
<div style= "text-align:center" class="form-popup" id="editor">
    <form action="/action_page.php" class="form-container">
          <h1>Editor</h1>


            <audio controls

              <source id="playsrc" src= "moonlight.mp3">
            </audio>
      
           <div>
          <div class="wrapper">
          <script src="https://unpkg.com/tone@13.8.25/build/Tone.js"></script>
          <script src="{% static 'js/tone.js' %}"></script>
          <link rel="stylesheet" type="text/css" href="{% static 'css/tone.css' %}">
          <div class="layout">

            <div class="sound-choice-container">
              <label class="sounds-label">Synth</label>
             <section class="sound-type">
               <div class="sound-selections active" 
                     id="Synth" 
                     onclick="selectSynthType(id)"> 
                 Synth
               </div>
                <div class="sound-selections" 
                     id="MonoSynth" 
                     onclick="selectSynthType(id)"> 
                 MonoSynth
                </div>
                <div class="sound-selections" 
                    id="AMSynth" 
                    onclick="selectSynthType(id)"> 
                  AMSynth
               </div>
               <div class="sound-selections" 
                    id="FMSynth" 
                    onclick="selectSynthType(id)"> 
                 FMSynth
               </div>
               <div class="sound-selections" 
                    id="MembraneSynth" 
                     onclick="selectSynthType(id)"> 
                 MembraneSynth
                </div>
             </section>
           </div>

            <div class="oscillator-choice-container">
             <label class="oscillator-label">Oscillator Type</label>
              <section class="oscillator-type">
               <div class="oscillator-selections active" 
                    id="triangle" 
                    onclick="changeOscillator(id)"> 
                 Triangle
               </div>
               <div class="oscillator-selections" 
                    id="sine" 
                    onclick="changeOscillator(id)"> 
                 Sine
               </div>
               <div class="oscillator-selections" 
                     id="square" 
                    onclick="changeOscillator(id)"> 
                  Square
                </div>
               <div class="oscillator-selections" 
                    id="sawtooth" 
                     onclick="changeOscillator(id)"> 
                 SawTooth
                 </div>
             </section>
            </div>
          
          
          </div>

            <source id="playsrc" src= "moonlight.mp3"> 
          </audio>
          <div>

          	<audio controls
            <source id="playsrc" src= "moonlight.mp3"> 
    	    </audio>
    	    <div>

                <label for="splitSec">Split at(seconds):</label>
                <input type="number" id= "splitSec" min="1" max="7200" >
                <button type="button" id= "splitSub" onclick= "split()">Submit</button>
                <p id="timesplitext"></p>
                <label for="playBefSplit"> Audio before split:</label>
                <audio controls class="audio-hidden" id="playBefSplit"
                <source  src= "">
                <p>Before splitpoint</p>
                </audio>
                <label for="playAftSplit"> Audio after split:</label>
                <audio controls id="playAftSplit" class="audio-hidden"
                <source  src= "">
                <p>After splitpoint</p>
                </audio>
            </div>
            <div>
                <button id="startRec" type= "button" onclick= "startRecording(this);" onclick= "stopABLE()">
                Record from microphone
                </button>
                <button id="stopRec"  type= "button" onclick= "stopRecording(this);" onclick="unstopABLE()" disabled= true>
                Stop recording
                </button>
                <table id="recordingslist">

                </table>
                
            </div>

          

          <button type="button" name ="editorCloser" class ="buttonStyle buttonStyle1" onclick="closeEditor()">
              Close Editor
          </button>
      </form>
</div>

<script>
function openEditor(){
    document.getElementById("editor").style.display="block";
    document.getElementById("YourSongs").addEventListener("change",initAudio)
    }
function closeEditor(){
     document.getElementById("editor").style.display="none";
    }
function initAudio(){
  var audio, ext, YourSongs;
  ext = ".mp3";
  pathToAudio = "/media/songs/"
  audio = pathToAudio+document.getElementById("YourSongs").value+ext;
  document.getElementById("playsrc").setAttribute("src",audio);
}
function split(){
    var seconds;
    seconds = document.getElementById("splitSec").value;
    document.getElementById("timesplitext").innerHTML= "Split at "+seconds+" seconds";
    document.getElementById("playAftSplit").className= "audio-displayed";
    document.getElementById("playBefSplit").className= "audio-displayed";
}
function stopABLE(){
    document.getElementById("stopRec").disabled= false;
    document.getElementById("startRec").disabled= true;
}
function unstopABLE(){
    document.getElementById("stopRec").disabled= true;
    document.getElementById("startRec").disabled= false;

}
function split(){
    var seconds;
    seconds = document.getElementById("splitSec").value;
    document.getElementById("timesplitext").innerHTML= "Split at "+seconds+" seconds";
    document.getElementById("playAftSplit").className= "audio-displayed";
    document.getElementById("playBefSplit").className= "audio-displayed";
}
function stopABLE(){
    document.getElementById("stopRec").disabled= false;
    document.getElementById("startRec").disabled= true;
}
function unstopABLE(){
    document.getElementById("stopRec").disabled= true;
    document.getElementById("startRec").disabled= false;

}
</script>
// sourced from https://github.com/daaain/JSSoundRecorder sound recording library
<script src= "js/lib/recorder.js"></script>
<script src= "js/recordLive.js"> </script>
<script src= "js/lib/recorderWorker.js"></script>

</html>
