<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <div class="headerLinks">
    <a class="active" href="home.html">Home</a>
    <a href="editor.html">Editor</a>
    <a href="shared.html">Shared</a>
    <a href="Sharing.html">Sharing</a>
    <a href="download.html">Download</a>
    <a href="project.html">Project</a>
    </div>
<style>

body {
  margin: 0;
  font-family: Arial;
}
.headerLinks {
  overflow: hidden;
  background-color: #220C10;
}
.headerLinks a {
  float: left;
  color: #AAA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.headerLinks a:hover {
  background-color: #5b6579;
  color: white;
}
.headerLinks a.active {
  background-color: #2f2963;
  color: white;
}
 
</style>

</head>
<body style="background:radial-gradient(circle, #b0d0d3,#9bbec7);">
<h1 style="background-color:#9bbec7;">Home Page</h1>
<body>

  <h1><p style="color:white;text-align: center;">Open Beats</p></h1>

</body>
</html> 
