<!DOCTYPE html>

<html>

<head>

<title>Song Downloads</title>

<link rel=”stylesheet” href=”style.css”>

</head>
<body style="background-color:black">

<h1><p style="color:white;">Select Song to Share</p></h1>
<label for="Your songs" style="color:white;"> Choose one of your songs to share:</label>
<select name="Your songs" id="Your songs">
	<option value="first song">Edited Moonlight Sonata</option>
	<option value="second song">Original Boppin' Hit</option>
	<option value="third song">Fur Elise</option>
</select>
<h1><p style="color:white;">Enter a collaborator</p></h1>
<input type="text" name="collaborators">
<button type="button">
	Submit
</button>
</body>

</html>